$primary:       #002C3E;
$secondary:     #F7444E;
$success:       #78BCC4;
$light:         #F7F8F3;

$spacer: 2rem;
$enable-responsive-font-sizes: true;


html, body {
    height: 100%;
   }

.navbar.sticky-top{
    padding: 0;
    margin: 0;
}

.navbar-logo {
    height: 2em;
    margin: 0;
}

.navbar-btn {
    height: 1.5rem;
    margin: 0.5rem;
}

.hero-btn {
    padding: 0 !important;
    font-size: 2rem !important; 
}

h1.hero-text{
  font-size: 3.5vmax !important;
}

h2.hero-text{
  font-size: 3vmax !important;
}


.navbar-btn:hover, .navbar-btn:focus, .navbar-btn:active, .navbar-btn.active, .open>.dropdown-toggle.btn-primary {
    color: $secondary !important;
    background-color: $primary !important;
    border-color: $primary !important;
    text-decoration: line-through 1px $secondary !important;
    text-decoration-color: $secondary !important;
}

.introduction-image {
    height: 80% !important;
    max-height: 80% !important;
    max-width: 80% !important;
    margin:0 !important;
    padding:0 !important;
}

hr.line {
    margin:0 !important;
    border: 0 !important;
    height: 1px !important;
    background-color: $primary !important;
    opacity: 20% !important;
    border-width: 0 !important;
  }

.about-button {
    border-radius: 0 !important;
}

.about-button-text {
    font-size: 1.3em !important;
}

.what-i-do-column {
    margin-bottom: 2em !important;
}

.what-i-do-image{
    height: 4em !important;
    margin-bottom: 1em !important;
}

.experience-image{
    height: 60% !important;
    max-width: 100% !important;
    margin: auto !important;
    display: block !important;
}


.skill-image {
  height:55% !important;
  max-width: 10vh;
  margin: auto !important;
  display: block !important;
}

.project-image {
    height: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
    margin: auto !important;
    display: block !important;

}

 .cta-lead {
     font-size: 2vmax !important;
     margin:0 !important;
 }

 .cta-display {
    font-size: 4vmax !important;
    margin: 0 !important; 
    padding: 0 !important;
 }


.collapse-non-md {
    height: 0;
    display: none;
}
.collapse-non-md.collapsing {
    display: block;
}

@media (min-width: 992px) {
    .collapse-non-md {
        height: auto;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    .experience-image {
      min-height: 4rem !important;
    }
     
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
    .experience-image {
      min-height: 2rem !important;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    /* It's possible to hide the image if the screen becomes too small */
    .experience-image {
      min-height: 2rem !important;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";